numpy==1.23.4 -i https://mirrors.aliyun.com/pypi/simple/
scipy==1.13.1 -i https://mirrors.aliyun.com/pypi/simple/
scenedetect==0.6.0 -i https://mirrors.aliyun.com/pypi/simple/
scikit-image -i https://mirrors.aliyun.com/pypi/simple/
pillow -i https://mirrors.aliyun.com/pypi/simple/
torch -i https://mirrors.aliyun.com/pypi/simple/
torchvision -i https://mirrors.aliyun.com/pypi/simple/
torch-fidelity -i https://mirrors.aliyun.com/pypi/simple/
opencv-python -i https://mirrors.aliyun.com/pypi/simple/
opencv-contrib-python -i https://mirrors.aliyun.com/pypi/simple/
python_speech_features -i https://mirrors.aliyun.com/pypi/simple/